<a href="https://colab.research.google.com/github/Likhithkuncham/python/blob/main/day_2_data_struture_assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Difference between the list and tuple?**



List


*  Lists are mutable.

*  Lists consume more memory.
*     Lists are represented by [ ] brackets.


Tuple




*   Tuples are immutable.
*    Tuple consumes less memory as compared to the list.


*   Tuples are represented by ( ) brackets.

# **2.How list is different from an array**



    
    
   



*  List can consist of elements belonging to different datatypes whereas array Only consists of elements belonging to the same datatype.
*  List preferred for a shorter sequence of data items whereas array preferred for a longer sequence of data items.

*  List cannot directly handle arithmetic operations whereas array can.

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [1]:
#append
k=[]
k.append(10)
k.append(2.2)
k.append("Hi cmrcet")
print(k)

[10, 2.2, 'Hi cmrcet']

In [2]:
#copy
k=[1,2,3,4,5]
l=k.copy()
print(l)

[1, 2, 3, 4, 5]

In [4]:
#clear
k=[10,20,30,40]
k.clear()
print(k)

[]

In [5]:
#count
k=[1,2,2,2,3,4,5]
k.count(3)

1

In [6]:
#extends
k=[1,2,3,4]
l=[5,6,7,8]
k.extend(l)
print(k)

[1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
#index
k=[1,2,3,4,5]
k.index(3)

2

In [12]:
#insert
k=[11,12,13,14]
k.insert(14,15)
print(k)

[11, 12, 13, 14, 15]

In [15]:
#pop
k=[1,2,3,4]
l=k.pop(2)
print("poped element is",l)

poped element is 3

In [16]:
#reverse
k=[1,2,3,4,5]
k.reverse()
print(k)

[5, 4, 3, 2, 1]

In [18]:
#sort
k=[3,1,2,5,4]
k.sort()
print(k)

[1, 2, 3, 4, 5]

In [20]:
#min and max
k=[1,2,3,4,5]
a=min(k)
b=max(k)
print("minimum value is ",a)
print("maximum value is ",b)

minimum value is  1
maximum value is  5

In [21]:
#sum
l=[1,2,3]
k=sum(l)
print(k)

6

# **4. How would you divide the list into two parts?**

In [22]:
k=[1,2,3,4]
x=len(k)//2
c=k[x:]
d=k[:x]
print(c)
print(d)

[3, 4]
[1, 2]

# **5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.**



Eg A = [1,2,3,4,5,6,7,8,9,21,23,24] Filter_lsit = [3,6,9,21,24,27] output_list = [6,24]

In [23]:
k=[1,2,3,4,5,6,7,8,9,21,23,24,25,27]
x=[j for j in k if j%3==0]
y=[j for j in x if j%2==0]
print(x)
print(y)

[3, 6, 9, 21, 24, 27]
[6, 24]

# **6. How you can access keys and values simultaneously and update its value**

In [26]:
l={'x':1,'y':2}
for i,j in l.items():
  print(i,j)
c=str(input("enter key"))
d=int(input("enter value"))
if c in l:
  l[c]=d
  print("key founded")
else:
  print("key not found")
print(l)

x 1
y 2
enter keyy
enter value2
key founded
{'x': 1, 'y': 2}

# **7. Write python program to join, merge, concatente the two dictionaries.**

In [27]:
#join
k1={'x':1,'y':2}
k2={'z':2,'k':3}
k1.update(k2)
print(k1)

{'x': 1, 'y': 2, 'z': 2, 'k': 3}

In [28]:
#merge
k1={'x':1,'y':2}
k2={'z':3,'k':3}
k=dict(k1,**k2)
print(k)

{'x': 1, 'y': 2, 'z': 3, 'k': 3}

In [29]:
#concatente
k1={'x':1,'l':2}
k2={'l':3,'k':3}
k={**k1,**k2}
print(k)

{'x': 1, 'l': 3, 'k': 3}

# 8. How would you check a specific keys from the dictionary?

In [31]:
k={'l':1,'i':2}
x=str(input("enter value to check"))
if x in k:
  print("value is there")
else:
  print("value not there")

enter value to checki
value is there

# **9. write a python program to find the unique vowel present in the sentence.**

In [32]:
sentence= input("Enter a sentence")
k=set()
vowels = "aeiouAEIOU"
for i in sentence:
    if i in vowels:
        k.add(i)
if k:
    print("vowels in the sentence:",list(k))
else:
    print("No vowels found in the sentence.")

Enter a sentencelikhith
vowels in the sentence: ['i']

# **10. We know that tuple is immutable, do any thing and add element to the tuples.**

In [33]:
x1=(1,2)
x2=(3,4)
k=x1+x2
print(k)

(1, 2, 3, 4)

# **11. How would you sum the list of tuple and sum of tuple of list**

list = [(1,3),(6,5),(7,4)] output= [4,11,11]

tuple =([1,3],[6,5],[7,4]) output = (4,11,11)

In [36]:
# List of tuples
l_t = ([1, 3], [6, 5], [7, 4])
b = tuple(sum(i) for i in l_t)
print(b)

# Tuple of lists
t_l = [(1, 3), (6, 5), (7, 4)]
c = [sum(j) for j in t_l]
print(c)

(4, 11, 11)
[4, 11, 11]

# **12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY.**

In [38]:
k={'a':1,'b':2,'c':2}
b={}
for i in k.values():
    if i in b:
        b[i]+=1
    else:
         b[i]=1
for j,h in b.items():
    print(f"The frequency of value {j} is: {h}")

The frequency of value 1 is: 1
The frequency of value 2 is: 2